<div class="row mt-5">
  <aw-wizard class="w-100">
    <aw-wizard-step class="mt-5" stepTitle="Escolha uma opção">
      <div class="mb-5">
        <div *ngFor="let lanche of lanches">
          <div class="custom-control custom-radio text-left ml-5">
            <input type="radio" class="custom-control-input" id="lanche-{{lanche.id}}" name="opcao_lanche" (click)="calcularPrecoLanche(lanche);">
            <label class="custom-control-label font-weight-bold" for="lanche-{{lanche.id}}">{{lanche.nome}}</label>
            <br>
            <label class="small" *ngFor="let ingrediente of lanche.ingredientes">{{ingrediente.nome}}, &nbsp;</label>
          </div>
        </div>
      </div>
      
      <button class="btn btn-primary" type="button" [disabled]="firstStepButtonNextDisabled" awNextStep>Próximo</button>
    </aw-wizard-step>
    <aw-wizard-step class="mt-5" stepTitle="Ingredientes" awOptionalStep>
      <div class="mb-5 text-left">
        <div *ngFor="let ingrediente of ingredientes; let index = index;">
          <div class="mb-3">
            <label class="font-weight-bold">{{ingrediente.nome}}</label><br>
            <label class="small">Acréscimo de R${{ingrediente.valor.toFixed(2)}}</label>
            <input id="quantidade-ingrediente-{{ingrediente.id}}" style="width: 70px" class="form-control" min="0" max="10" [(ngModel)]="ingrediente.quantidade" type="number" />
          </div>
        </div>
      </div>
              
      <button class="btn btn-primary mr-3" type="button" awPreviousStep>Voltar</button>
      <button class="btn btn-primary" type="button" (click)="calcularPrecoIngredientes()" awNextStep>Próximo</button>
    </aw-wizard-step>
    <aw-wizard-step class="mt-5 text-left" stepTitle="Finalize seu pedido">
      
      <h2>Seu pedido</h2>

      <ul>
        <li>Lanche: {{pedido.lanche.nome}}</li>
        <li>Ingredientes padrão: {{pedido.lanche.ingredientes}}</li>
        <li>Ingredientes adicionais: {{pedido.ingredientes}}</li>
        <li>Valor: R${{pedido.valorTotal.toFixed(2)}}</li>
      </ul>
      
      <button class="btn btn-primary mr-3" type="button" awPreviousStep>Voltar</button>
      <button class="btn btn-primary mr-3" type="button">Finalizar pedido</button>
      <button class="btn btn-danger" type="button">Cancelar pedido</button>
    </aw-wizard-step>
  </aw-wizard>
</div>